<p id="notice"><%= notice %></p>

<div id="pins" class="transitions-enabled">

    <% @pins.each do |pin| %>
        <div class="box">
            <div class="panel panel-default">
                <% @myimage = pin.image.url(:medium) %>
                <% @mytitle = pin.id.to_s %>
                <%= image_tag @myimage, data: {toggle:"modal", target: "#id" + @mytitle } %><br />
                <div class="panel-body">
                <%= pin.description %>
                </div>
            
                <% if pin.user == current_user and current_user.admin? %>
                    <div class="panel-footer">
                      <%= link_to 'Edit', edit_pin_path(pin) %>
                      <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
                    </div>
                <% end %>
                
            </div>
        </div>
    <% end %>
</div>

<br>



<!-- Modal -->
<% @pins.each do |pin| %>
<% @myimage = pin.image.url(:medium) %>
<% @mytitle = pin.id.to_s %>
<div class="modal fade" id=<%= "id" + @mytitle %> tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <%= image_tag @myimage%>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<% end %>